.iframe {
  height: 100vh;
  height: 100dvh;
  width: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.iframe--hidden {
  visibility: hidden;
  pointer-events: none;
  z-index: -1;
}
